# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.keystore
*.jks
*.properties
flutter_bundle/
!default.properties

# Log/Backups
logs/
backups/
temp/
*.log

# Large Binary/Assets
roms/
contentpacks/
assets/unpacked/
tools/nds/
tools/pack/

# Node modules
node_modules/
server/node_modules/
tools/node_modules/

# OS files
.DS_Store
.history
